/* .projects-container {
  background-color: #f8f9fa;
}
.project-container {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #ddd;
  margin-bottom: 5rem;
  margin: 10px;
  margin-bottom: 5rem;
} */
.projects{
  margin-top: 110px;
}
.zoom { transition: transform .5s;
padding: 5px;
  /* 
  /* Animation */
  /* width: 200px;
  height: 200px;
  margin: 0 auto; */ 
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
