.navbar-brand{
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.navbar-brand-logo{
    height: 45px;
    margin-right: 8px;
}

.dropdown-item{
    background-color: transparent!important;
    color: black!important;
}
/* .dark-mode {
  background-color: black;
  color: white;
}
body{
     padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
} */